table
  {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font: 17px Calibri;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
  }
table#t01
    {
    border: solid 10px #DDD0;
    }

th
  {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
  }
td
    {
      border: solid 1px #DDD;
      border-collapse: collapse;
      padding: 2px 3px;
      text-align: center;
    }

  p#showData0
    {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      background-color: #eee;
    }
  p#showData1
    {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      background-color: #ddd;
    }
  p#showData2
    {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      background-color: #ccc;
    }
  th#square02
    {
      vertical-align: 0;
    }
